* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

main {
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
  max-width: 1500px;
  background: rgb(255, 255, 255);
}

p {
  font-size: 14px;
}

.form-group {
  margin: 25px 0;
  width: 100%;
}

.form-group input {
  margin: 10px 0;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid rgb(143, 143, 143);
}

label {
  display: block;
}

.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row .form-group {
  width: 300px;
}

.form-group textarea {
  margin: 15px 0;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid rgb(143, 143, 143);
  overflow: auto;
}
textarea,
input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-submit-btn {
  display: block;
  height: 40px;
  padding: 0 25px;
  color: white;
  font-size: 18px;
  background-color: rgb(179, 49, 49);
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 3px 5px rgb(159, 159, 159);
}

.form-submit-btn:hover {
  background-color: rgb(140, 39, 39);

  box-shadow: 0 1px 5px rgb(159, 159, 159);
}

.form-error {
  text-align: left;
  color: rgb(179, 49, 49);
}
